@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #020817; /* slate-950 */

  --card: #e1ecf0;
  --card-foreground: #020817;
 
  --popover: #ffffff;
  --popover-foreground: #020817;
 
  --primary: #0f172a; /* slate-900 */
  --primary-foreground: #f8fafc; /* slate-50 */
 
  --secondary: #f1f5f9; /* slate-100 */
  --secondary-foreground: #0f172a;
 
  --muted: #f1f5f9;
  --muted-foreground: #64748b; /* slate-500 */
 
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
 --brand: #0891b2;
  --destructive: #ef4444; /* red-500 */
  --destructive-foreground: #f8fafc;

  --border: #bcbdbe;
  --input: #fff;
  --ring: #020817;

  --scrollbar-track: #f1f5f9;
  --scrollbar-thumb: #cbd5e1;
  --scrollbar-thumb-hover: #94a3b8;
}

.dark {
  --background: #020817; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
 --brand: #0891b2;
  --card: #0a1a2a;
  --card-foreground: #f8fafc;
 
  --popover: #020817;
  --popover-foreground: #f8fafc;
 
  --primary: #f8fafc;
  --primary-foreground: #0f172a;
 
  --secondary: #1e293b; /* slate-800 */
  --secondary-foreground: #f8fafc;
 
  --muted: #1e293b;
  --muted-foreground: #94a3b8; /* slate-400 */
 
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
 
  --destructive: #7f1d1d; /* red-900 */
  --destructive-foreground: #f8fafc;
 
  --border: #1f2c41;
  --input: #1e293b;
  --ring: #cbd5e1; /* slate-300 */

  --scrollbar-track: #183341;
  --scrollbar-thumb: #116476;
  --scrollbar-thumb-hover: #62d5ff;
}



@layer base {
  h1, h2, h3, h4, h5, h6, p {
    color: var(--foreground);
  }

  h1 { font-size: 2.25rem; font-weight: 800;color:var(--foreground) }
  h2 { font-size: 1.875rem; font-weight: 700;color:var(--foreground) }
  h3 { font-size: 1.5rem; font-weight: 600;color:var(--foreground) }
  h4 { font-size: 1.25rem; font-weight: 600;color:var(--foreground) }
  h5 { font-size: 1.125rem; font-weight: 600;color:var(--secondary-foreground) }
  h6 { font-size: 1rem; font-weight: 600;color:var(--secondary-foreground) }
  p { font-size: 1rem; font-weight: 400;color:var(--secondary-foreground) }
}

html {
  scroll-behavior: smooth;
}
  
input,select,textarea {
  background-color: var(--input);
  border: 1px solid var(--border);

  color: var(--foreground);
  outline-color: var(--brand);
  
}
input:focus,select:focus,textarea:focus,input:hover,select:hover,textarea:hover,input:active,select:active,textarea:active {
  outline-color: var(--brand);
   border: 1px solid var(--brand);
}


input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

 

input::placeholder,select::placeholder,textarea::placeholder {
  color: var(--muted-foreground);


}

select option:checked {
  background-color: var(--brand);
  color: var(--brand-foreground);
}


@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marquee-left 40s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 40s linear infinite;
}

@media (max-width: 768px) {
  .animate-marquee-left {
    animation: marquee-left 10s linear infinite;
  }

  .animate-marquee-right {
    animation: marquee-right 10s linear infinite;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.fast-gen-model-btn {
  --green: #1bfd9c;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.fast-gen-model-btn:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.fast-gen-model-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.fast-gen-model-btn:hover:before {
  transform: translateX(15em);
}

.radio-buttons-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: var(--foreground);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid #0891b2;
  color: #0891b2;
}

.radio-button__input:checked + .radio-button__label {
  color: #0891b2;
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #0891b2;
  box-shadow: 0 0 10px #4c8bf580;
}






@layer utilities {
  .bg-brand-color {
    background: linear-gradient(135deg, #2b8cee, #17a1cf, #22c365);
  }
  
  .text-brand-gradient {
    background: linear-gradient(135deg, #2b8cee, #17a1cf, #22c365);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
